.chat-main
  .main-header
    .left-contents
      .group-name
        = @group.name
      .member-box
        .member
          Member:
        %ul.members
          %li.group-member
            - @group.users.each do |user|
              = user.name
    .right-content
      = link_to edit_group_path(@group.id) do
        .right-content__btn Edit
  .message-list
    = render @messages
  .form
    .send-message
      = form_for [@group, @message] do |f|
        .form-flex
          .input-box
            = f.text_field :content, class: 'new-message', placeholder: 'type a message'
            = f.label :image, class: 'select-image' do
              = icon('far', 'image')
              = f.file_field :image, class: 'hiding'
          = f.submit 'Send', class: 'send-btn'
